/* the body of the component */
body {
  background-color: hsl(245, 75%, 52%);
  justify-content: center;
  background-image: url("./images/pattern-background-desktop.svg");
}

.container { 
  margin: 0;
  /* position: absolute; */
  top: 50%;
  left: 50%;
  margin-right: -50%;
  /* transform: translate(-50%, -50%); */
}

/* The main card body */
.card-body {
  text-align: center;
  align-items: center;
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
}

/* Order summary */
.card-title {
  font-weight: 900;
  text-align: center;
}

.card-text {
  font-weight: 500;
  font-size: 16px;
}

/* styling for a specific portion of the plan */
.nav-header > .span {
  font-weight: 900;
  font-size: 16px;
}

/* Annual plan and pricing */
/* .nav-header {
  font-weight: 700;
} */

/* anchor tag properties, change */
a {
  color: hsl(245, 75%, 52%);
  font-weight: 500;
}

a:hover {
  text-decoration: none;
}


/* proceed to payment button changes */
.btn-primary {
margin-top: 20px;
  box-shadow: 10px 5px 5px hsl(223, 65%, 73%);
  color: hsl(245, 75%, 52%);
  width: 100%;
  font-weight: bolder;
}

.btn-primary:hover {
  color: hsl(224, 23%, 55%);
}

.a > .btn-outline-light {
  margin-top: 12px;
  font-weight: 900;
}

/* rounded edges for the navbar */
.navbar {
  border-radius: 15px;
}

.btn-outline-none:hover {
  color: black;
  font-weight: bolder;
}